node_modules

# SQLite databases (generated at runtime, not committed)
*.db
*.sqlite
*.sqlite3

.dart_tool
.idea
build
macos
.flutter-plugins-dependencies
allo_carto.iml

.expo/
app-example
expo-env.d.ts

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# Example react native app
/app-example